.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
    margin: 0 auto;
    // @media screen and (min-width:480px){width: 450px;};

    // @media screen and (min-width:768px){width: 768px;}
    // @media screen and (min-width:1200px){width: 1200px;}

    @include mobile { width:480px;}
    @include tablet { width: 768px;}
    @include desktop { width: 1200px;}
  }
  .mob__container{
    width: 100%;
    padding-top:48px;
  padding-bottom: 48px;
  padding-left:40px;
  padding-right: 25px;
  }