.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  transition: opacity var(--transition-duration)
      var(--tarnsition-timing-function),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  max-width: 450px;
  min-height: 609px;
  background-color: var(--main-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  padding: 40px;
  @include desktop {
    min-height: 581px;
    width: 528px;
  }
 
}

.modal__btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
 
  //  display: flex;
  // align-items: center;
  @extend %align-list;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.btn-send {
  margin-top: 30px;
}

.modal__btn:hover,
.modal__btn:focus{
  fill: 
  rgba(33, 150, 243, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__title {
 width:100%;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  font-size: 20 px;
  margin-bottom: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  
  
  @include desktop{
    line-height: 1.17;
   
   height: 23px;
   text-align: center;
  }
}
.modal__field {
  margin-bottom: 10px;
}

.field__comment{
  margin-bottom:20px;
}
.input__wrap {
  position: relative;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  color: var(--main-black-color);
  padding-left: 42px;
  outline: transparent;

  &:focus {
    border: 1px solid var(--main-hover-color);
  }
  &:focus + .modal__input-icon {
    fill: var(--main-hover-color);
  }

  &:hover + .modal__input-icon {

    fill: var(--main-hover-color);
    }
    &:placeholder,
    .modal__comment::placeholder {
      font-size: 14px;
    }  

}

.modal__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.modal__label-text,
.modal__label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: var(--Main-text-color);
  margin-bottom: 4px;
}
.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  display:block;

  &:focus {
    border: 1px solid var(--main-hover-color);
    fill: var(--main-hover-color);
  }

}

.check__text {
  color: #757575;
  display: flex;
  position: relative;
  font-size:12px;
  font-weight: 400;
  line-height: 1.17;
   width: 100%;
  letter-spacing: 0.03em;
justify-content: center;
@include desktop{
  top-size:14px;
}

  span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-title-color);
    border-radius: 2px;
    margin-right: 5px;
    @extend %align-list;
  //   display: flex;
  //  align-items: center;
    justify-content: center;
    fill: transparent;
}
}
/*.check-text::before {
content: "";
width: 16px;
height: 15px;
border: 2px solid var(--main-title-color);
border-radius: 2px;
margin-right: 5px;
}
.input-check:checked + .check-text:before {
background-color: var(--logoweb-color);
background-image: url(../images/Vector.svg);
background-position:center;
background-repeat:no-repeat;
border-color:transparent;
}*/

.input__check{
margin-bottom:30px;
margin-top:20px;

&:checked + .check__text span {
background-color: var(--logoweb-color);
border-color: transparent;
fill: var(--main-white-color);
}
&:focus + .check__text span {
border-color: var(--logoweb-color);
}

}

.check__privacy{
min-width: 400px;
height: 24px;
display: flex;
align-items: baseline;
justify-content: center;


}
/*.button-send {
min-width: 200px;
height: 50px;
padding: 491px 164px 40px 164px;
margin: 0 auto;
display: flex;
justify-content: center;
background-color: rgba(0, 0, 0, 0.15);
}*/

.btn__sub-send {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;
color: var(--main-white-color);
width: 200px;

cursor: pointer;
background-color: var(--main-hover-color);
border-color: transparent;
border-radius: 4px;
padding: 10px 52px; 
cursor: pointer;
margin: 0 auto;
margin-top: 30px;
display: flex;
justify-content: center;

&:hover,
&:focus {
background-color: var(--btn-cover-color);
}
}

.btn__sub-send {
transition: background-color var(--tarnsition-timing-function)
var(--transition-duration);
}
.privacy__agreement-link {
margin-left: 4px;
color: var(--logoweb-color);
text-decoration: underline;

}