.what-we-do__title {
    margin-bottom: 50px;
  }
  .what-we-do__list {
    display: flex;
    // flex-wrap:wrap;
    gap: 30px;
   
  }
  
  .wrap {
    position: relative;
  
    
  }
  .wrap__text {
    position: absolute; 
    width: 100%; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(47,48,58,.8); 
    font-family: "Roboto"; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 14px; 
    line-height: 1.14; 
    text-align: center; 
    letter-spacing: .03em; 
    text-transform: uppercase; 
    padding: 27px 10px; 
    color: #ffffff;
    
    display: flex;
   align-items: center;
 
  
  // @extend %align-list;
    justify-content: center;
    
  }
// .what-we-do__item{
//   // width: 100%;
//   // @media screen and (min-width:320px)
//   // {width: 1199px;}
// }
  
  
  
  