body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-white-color);
    color: var (var(--main-title-color));
  }

  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }