:root {
    --Main-text-color: #757575;
    --main-title-color: #212121;
    --main-hover-color: #2196f3;
    --main-white-color: #ffffff;
    --main-black-color: #000000;
    --main-background-color: #2f303a;
    --main-footer-adress-color: rgba(255, 255, 255, 0.6);
    --second-background-color: #f5f5f5;
    --logoweb-color: #2196f3;
    --btn-cover-color: #188ce8;
    --hero-background-color: #c4c4c4;
    --soc-icon-color: #afb1b8;
    --typical-line-height: 1.14;
    --main-font: "Roboto", sans-serif;
  
    --transition-duration: 250ms;
    --tarnsition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }