/*-------------------css text---------------*/
.header {
    border-bottom: 1px Solid #ececec;
  }
  .header__container {
    display: flex;
    align-items: center;
    gap:16px;
   
    border-bottom: 1px #ececec;
    }

// .logo {
//     font-family: "Raleway", sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.17;
//     letter-spacing: 0.03em;
//     color: var(--main-black-color);
    
//   }
 
  .navigation__logo{
    padding-top: 16px;
    padding-bottom: 16px;
  
    @include tablet {
      margin-right: 93px;
    }
  }
  .navigation {
    display: flex;
   align-items: center;
   
  }

  .menu {
    // display: flex;
    display:none;

    @include tablet {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: auto;
    }
    @include desktop {
      flex-direction: row;
      gap: 30px;
      align-items: center;
    }
  }
 
  .menu__item {
    position: relative;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    &:hover,
    &:focus {
      color: var(--main-hover-color);
    }
    &.current {
      color: var(--main-hover-color);
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--logoweb-color);
      }
    }
   
  }
 
  .menu__link {
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
    @include desktop {
      display: flex;
      align-items: center;
    }
  }



.menu__open-btn{
  margin-left:auto;
 background-color: var(--main-white-color);
 border:none;
 margin-left: auto;

  @include tablet {
    display: none;
  }
}

.social-net{
  font-size:18px;
  line-height:1.22;
  letter-spacing: 0.02em;
  color: 
  rgba(33, 150, 243, 1);
}


.mob__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color:var(--main-white-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  > .mob__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding-top: 16px;
    padding-left: 16px;
  }
}

.menu__close-btn{
  display:block;
  margin-left: auto;
  position: absolute;
  right: 15px;
  top: 10px;

  background-color: transparent;
  border: none;
  transition: fill(--tarnsition-timing-function --transition-duration --);
  
  &:hover {
    fill: var(--main-hover-color)
  }
}
.mob-menu__top{
  margin-bottom: 120px;
}
.mob-menu__link{
  font-weight: 500;
  font-size: 40px;
  line-height:1.17 ;
  letter-spacing:0.02em ;
  color:#212121 ;
  transition: var(--tarnsition-timing-function --transition-duration);
  &:hover,
  &:focus {
    color: var(--main-hover-color);
  }
}
.mob-menu__item{
  color: #212121;
}
// .mob-menu__item:not(:last-child)
// {
//   margin-bottom: 32px;
// }
.mob-menu__list{
  display: flex;
  flex-direction: column;
  gap: 32px;
}




.mob-menu__link-active{
 color: var(--btn-cover-color); 
}



.mob__connect{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.mob__connect--tel-link{
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02 em;
  color: rgba(33, 150, 243, 1);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mob__connect--link{
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02 em;
  color: var(--Main-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
// .mob__connect--email{
//   margin-bottom: 64px;
// }


.content__list--socials{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content:flex-start ;
}
.content__socials:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;

}
.social-net{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--btn-cover-color);
  text-decoration: none;
}

  .adress {
    // display: flex;
    display:none;
     align-items: center;

     @include tablet {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: auto;
    }
  
    @include desktop {
      flex-direction: row;
      gap: 30px;
      align-items: center;
    }

    }
  
  .adress__list{
    margin-left: auto;
  }

  // .adress__email{
  //   margin-right: 50px;
  // }

  .adress__email--link {
    font-weight: 500;
    font-size:14px;
    // line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--Main-text-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover,
    &:focus {
      color: var(--btn-cover-color);
    }
    @include desktop{
      padding-top: 32px;
      padding-bottom: 32px;
     }
  }
  .adress__email--link  {
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }
  
  .tel__link {
    font-weight: 500;
    font-size:14px;
    // line-height: var(--typical-line-height);
    letter-spacing: 0.02em;
    color: var(--Main-text-color);
     display: flex;
     align-items: center;
   
    justify-content: center;
    
    &:hover,
    &:focus {
    color: var(--btn-cover-color);
   }
   @include desktop{
    padding-top: 32px;
    padding-bottom: 32px;
   }
  }
  .tel__link{
    transition: color var(--transition-duration) var(--tarnsition-timing-function);
  }
  .soc__icon {
    fill: currentColor;
    margin-right: 10px;
   
    
  
  &:hover {
    color: var(--btn-cover-color);

  }
}
  .soc__icon{
    @include tablet {
      width: 10px;
      height: 14px;
    }
  
    @include desktop {
      width: 10px;
      height: 16px;
    }
  }
  .soc__icon--call{
    @include tablet {
      width: 10px;
      height: 14px;
    }
  
    @include desktop {
      width: 10px;
      height: 16px;
    }
  }

  
  
  .soc__icon--mail{
@include tablet {
    width: 14px;
    height: 10px;
  }

  @include desktop {
    width: 16px;
    height: 12px;
  }
  }