.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-black-color);
    
  }

  .logo__web {
    color: var(--logoweb-color);
  }

.logo__part--light{
    color: var(--main-white-color);
  }